services:
  postgres:
    image: postgres:latest
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data/ # for local development only
    expose:
      - 5432
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:6.2-alpine
    restart: always
    expose:
      - 6379
    command: redis-server /usr/local/etc/redis/redis.conf --requirepass "${REDIS_PASSWORD}"
    volumes:
      - redis:/data # for local development only
      - ./deployments/redis/redis.conf.processed:/usr/local/etc/redis/redis.conf
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5

  sosediapi:
    container_name: sosediapi
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy

      redis:
        condition: service_healthy
#    healthcheck:
#      test: curl --fail http://localhost:8000/api/v1/healthcheck/
#      interval: 30s
#      timeout: 30s
#      retries: 3
    restart: always

volumes:
  pg_data:
  redis:
